<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Summary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let user of loadUsers()">
    <ion-card (click)="navigate(user.id)">
    
      <ion-item>
        <ion-avatar *ngIf="user.gender == 'f'; else maleAvatar">
          <img class="avatar" src="../../assets/avatars/spanish-female-avatar.png" alt="">
        </ion-avatar>
  
        <ng-template #maleAvatar>
          <ion-avatar>
            <img class="avatar" src="../../assets/avatars/male-profile-avatar (2).jpg" alt="">
          </ion-avatar>
        </ng-template>
        <ion-card-header slot="end">
          <ion-card-title>{{user.name}}</ion-card-title>
        </ion-card-header>
      </ion-item>
    
      <ion-card-content>
        <ion-item>
          <ion-label>Complete:</ion-label>
          <ion-badge slot="end"><h1>{{completePercentage(user)}}%</h1></ion-badge>
        </ion-item>
      </ion-card-content>

      <div class="ion-text-center" *ngIf="getUnverifiedChores(user.id) > 0">
        <ion-icon name="alert-circle"></ion-icon>
        {{user.name}} has {{getUnverifiedChores(user.id)}} unverified chores!
      </div>

    </ion-card>
  </ion-list>

</ion-content>
