<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Summary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let user of loadUsers(); index as i">
    <ion-card>
    
      <ion-item>
        <ion-avatar *ngIf="user.gender == 'f'; else maleAvatar">
          <img class="avatar" src="../../assets/avatars/spanish-female-avatar.png" alt="">
        </ion-avatar>
  
        <ng-template #maleAvatar>
          <ion-avatar>
            <img class="avatar" src="../../assets/avatars/male-profile-avatar (2).jpg" alt="">
          </ion-avatar>
        </ng-template>
        <ion-card-header slot="end">
          <ion-card-title>{{user.name}}</ion-card-title>
        </ion-card-header>
      </ion-item>
    
      <ion-card-content>
        <ion-item>
          <ion-label>Percent Complete:</ion-label>
          <ion-badge slot="end"><h1>{{user.percentComplete}}</h1></ion-badge>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
