<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Manage Users
    </ion-title>
    <ion-button shape="round" slot="end" color="success">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let user of loadUsers()">
    <ion-item>
      <ion-label>
        <h3>{{user.name}}</h3>
      </ion-label>
      <ion-button shape="round" color="warning">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round" color="danger">
        <ion-icon name="trash-bin-outline"></ion-icon>
      </ion-button>
    </ion-item>



  </ion-list>
  
</ion-content>
