<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>{{selectedUser.name}}'s Chores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addChore()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item *ngFor="let chore of selectedUserChores">
    <ion-item-sliding>
      <ion-item>
        <ion-label>{{chore}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Unread</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-item>
</ion-content>
