<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>{{selectedUser.name}}'s Chores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addChore()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item *ngFor="let chore of getChores()">
    <ion-item-sliding>
      <ion-item detail>
        <ion-label class="ion-text-wrap">{{chore.title}}</ion-label>
        <ion-label slot="end">{{chore.value}}</ion-label>
      </ion-item>
      <ion-item-options side="end">

        <ion-button shape="round" color="success" (click)="markComplete(chore)" size="small">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button>
        
        <ion-button *ngIf="chore.complete" shape="round" color="warning" (click)="markVerified(chore)" size="small">
          <ion-icon name="checkmark-done-outline"></ion-icon>
        </ion-button>

        <ion-button shape="round" color="danger" (click)="removeChore(chore)" size="small">
          <ion-icon name="trash-bin"></ion-icon>
        </ion-button>

      </ion-item-options>
    </ion-item-sliding>
  </ion-item>
</ion-content>
